<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
</head>
<body>
<div style="position: absolute;  margin: auto;  top: 0;  right: 0;  bottom: 0;  left: 0;   height: 450px;">
    <center><h1 style="font-size: 100px; font-family: Calibri;">OMG! There is an <b><i style="color: red;">error</i></b>!</h1></center>
    <center><p style="font-size: 50px; font-family: Calibri;">Don't worry, we are working on it, you won't notice a thing.</p></center>
</div>
</body>
</html>

