<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>
<body>
<h1>Send a email!</h1>

<form action="" method="post">
    Domain: <input name="domain" type="text" placeholder="seansun.org"><br/>
    From: <input name="from" type="text" placeholder="Sean <no-reply@seansun.org>"><br/>
    To: <input name="to" type="text" placeholder="sean.sun@sonomaacademy.org"><br/>
    Subject: <input name="subject" type="text" placeholder="Email from seansun.org"><br/>
    Text: <input name="text" type="text" placeholder="Hello World!"><br/>
    Auth: <input name="passwd" type="password"><br/>
    <input type="submit" name="send">
</form>


</body>
</html>