<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ads</title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1384775381176831",
            enable_page_level_ads: true
        });
    </script>
</head>

<body>
    <div style="position: absolute;  margin: auto;  top: 0;  right: 0;  bottom: 0;  left: 0;">
        <center>
            <p style="font-size: 50px;">I love ads!</p>
        </center>
    </div>
</body>

</html>
