<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luncher</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/views/PleaseConfirmEmail/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/views/PleaseConfirmEmail/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/views/PleaseConfirmEmail/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/views/PleaseConfirmEmail/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/views/PleaseConfirmEmail/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/views/PleaseConfirmEmail/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/views/PleaseConfirmEmail/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/views/PleaseConfirmEmail/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/views/PleaseConfirmEmail/css/util.css">
    <link rel="stylesheet" type="text/css" href="/views/PleaseConfirmEmail/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
<div class="container-login100">
    <div style="margin: auto; width: 700px;">
        <center class="login100-form-title"><h1>{{{title}}}</h1></center>
        <br><br>
        <center class="login100-form-title" style="color: lightgrey;"><h4>{{{msg}}}</h4></center>
    </div>
</div>


</body>
</html>