<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="icon" type="image/png" href="/favicon.ico">

    <!-- <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"> -->
     <!-- <link type="text/css" rel="stylesheet" href="seansun.org/views/404/style.css"> -->
    <!--<script src="../bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
<div style="position: absolute;  margin: auto;  top: 0;  right: 0;  bottom: 0;  left: 0;">
    <center><h1 style="font-size: 200px;">404</h1></center>
    <center><p style="font-size: 50px;">I think you broke it</p></center>
</div>
</body>
</html>
