<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luncher</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="./signup/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/views/signup/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/views/signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/views/signup/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/views/signup/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/views/signup/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/views/signup/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/views/signup/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/views/signup/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/views/signup/css/util.css">
    <link rel="stylesheet" type="text/css" href="/views/signup/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <!--===============================================================================================-->
</head>

<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-b-160 p-t-50">
            <form class="login100-form validate-form" action="" method="POST">
					<span class="login100-form-title p-b-43">
                        Be a <span style="font-family: Lobster, cursive; font-size: 2em; color:#ff9933">Luncher</span>
                    </span>

                <div class="wrap-input100 rs1 validate-input" data-validate="Invalid">
                    <input class="input100" type="text" name="email">
                    <span class="label-input100">Email</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Subscribe
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>


<script src="/views/signup/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/views/signup/vendor/animsition/js/animsition.min.js"></script>
<script src="/views/signup/vendor/bootstrap/js/popper.js"></script>
<script src="/views/signup/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/views/signup/vendor/select2/select2.min.js"></script>
<script src="/views/signup/vendor/daterangepicker/moment.min.js"></script>
<script src="/views/signup/vendor/daterangepicker/daterangepicker.js"></script>
<script src="/views/signup/vendor/countdowntime/countdowntime.js"></script>
<script src="/views/signup/js/main.js"></script>

</body>
</html>
